* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
}

:root {
  --primary: hsl(160deg, 100%, 30%);
  --secondary: hsl(45deg, 100%, 50%);
  --secondary-dark: hsl(45deg, 100%, 40%);
  --white: hsl(0deg, 0%, 100%);
  --black: hsl(0deg, 0%, 0%);
  --dark: hsl(0deg, 0%, 30%);
  --very-dark: hsl(0deg, 0%, 10%);
  --medium: hsl(0deg, 0%, 40%);
  --light: hsl(0deg, 0%, 60%);
  --font: "Lato", sans-serif;
  --section-padding: 32px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: var(--font);
}
p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

strong {
  color: var(--primary);
}

.max-width-wrapper {
}

.intro-chunk {
  border-bottom: 6px solid var(--dark);
  padding: var(--section-padding);
}

main {
  background-color: var(--light);
  padding-top: 48px;
  padding-bottom: 48px;
}

.card {
  background-color: var(--white);
  border-bottom: 6px solid var(--dark);
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
}

.card h2 {
  background-color: var(--secondary);
  border-bottom: 6px solid var(--secondary-dark);
  width: fit-content;
  padding: var(--section-padding);
  margin-left: -32px;
  font-size: 1rem;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* Add styles here! */
